<p id="notice"><%= notice %></p>
<h2>Admin login</h2>
<%= form_for(@su, url:"/login") do |f| %>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
  <%= f.hidden_field :session_id, :value => session.id %>
  <%= f.submit "Login" %>
<% end %>
