<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tree.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tree.description.html_safe %>
</p>

<p>
  <strong>Remaining Stock:</strong>  <%= @tree.stock %>
  <br><strong>Original Stock:</strong>  <%= @tree.original_stock %>
</p>

<%= image_tag @tree.image.url(:medium) if @tree.image_file_name %>
<br><br>
<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>
