<table class="container" width="770" border="0" cellpadding="5" cellspacing="5">
<tr><td class="main-body">
<div id="logos">
<% @request.giveaway.logos.each do |logo| %>
  <%= link_to image_tag(logo.image.url, alt: logo.name), logo.link, :target => "_blank" %>
<% end %>
</div>
<strong>
<%= Time.now.strftime("%B %-d, %Y") %><br><br><br>
Dear <%= @request.first_name %>,</strong>
<%= @request.giveaway.confirmation_text.html_safe %>
<br>

  <% unless local_assigns[:show_full_donation_form] %>
    <hr>
    <p style="text-align: center;">
    Please <a href="https://secure.qgiv.com/for/fpconserve/restriction/TreePhilly/" target="_blank" style="text-decoration: none; font-size: 1.2em; color: green; padding: 3px; border: 1px dotted black">
    Donate</a> to support TreePhilly</p>
  <% end %>

<hr>
<br>

<strong style="text-decoration:underline;">Registrant</strong><br>
<%= @request.name %><br>
<%= simple_format(@request.mailing_address, {}, wrapper_tag: "div") %>

<br>

  <strong style="text-decoration:underline;">Planting address</strong>
  <%= simple_format(@request.planting_address, {}, wrapper_tag: "div") %><br>

  <strong style="text-decoration:underline;">Pick-up event</strong><br>
  <%= @request.giveaway.name %><br>
  <%= @request.giveaway.location %><br>
  <% if @request.timeslot %>
    <%= @request.giveaway.time.strftime("%A, %B %d, %Y") %>, <%= @request.timeslot %>
  <% else %>
    <%= @request.giveaway.time.strftime("%A, %B %d, %Y, %-I:%M %P") %> - <%= @request.giveaway.end_time.strftime("%-I:%M %P") %>
  <% end %>
  <br><br>

  <strong>Tree(s) reserved: </strong><%= @request.tree_names %>
  <br>
  <% if local_assigns[:show_full_donation_form] %>
    <br>
    <hr>
    <p style="text-align: center;">
    Thank you for helping TreePhilly grow our urban forest! If you would like to further support TreePhilly's work and contribute to the success of Philadelphia's ongoing Urban Forest Strategic Plan, please consider making a donation.
    </p>
    <div class="qgiv-embed-container" data-qgiv-embed="true" data-embed-id="58396" data-embed="https://secure.qgiv.com/for/treep/embed/58396/" data-width="564"></div>
    <script>(function(w, d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "https://secure.qgiv.com/resources/core/js/embed.js";fjs.parentNode.insertBefore(js, fjs);})(window, document, 'script', 'qgiv-embedjs');</script>
  <% end %>
  </td></tr>
</table>
