<table class="container" width="770" border="0" cellpadding="5" cellspacing="5">
<tr><td>
  <strong><%= @request.name %></strong> has reserved 
  <strong><%= @request.tree_names %></strong>
</td></tr>
<tr><td>
  <div style="text-decoration:underline;">To be planted at:</div>
  <%= simple_format(@request.planting_address, {}, wrapper_tag: "div") %>
</td></tr>
<tr><td>
  <div style="text-decoration:underline;">Can be picked up at:</div>
  <strong><%= @request.giveaway.name %></strong><br>
  <%= @request.giveaway.location %><br>
  <%= @request.giveaway.time.strftime("%A, %B %d, %Y, %I:%M %P") %>
  </td></tr>
</table>
