<p id="notice"><%= notice %></p>

<h1>Listing Requests for <%= @giveaway.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Tree</th>
      <th>Tree2</th>
      <th>Phone</th>
      <th>Mailing Address</th>
      <th>Planting Address</th>
      <th>Timeslot</th>
      <th>Is delivery?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.email %></td>
        <td><%= request.tree_name %></td>
        <td><%= request.tree2_name %></td>
        <td><%= request.phone_number %></td>
        <td><%= simple_format(request.mailing_address, {}, wrapper_tag: "div") %></td>
        <td><%= simple_format(request.planting_address, {}, wrapper_tag: "div") %></td>
        <td><%= request.timeslot %></td>
        <td><%= request.is_delivery ? 'Yes' : '' %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', "/requests/#{request.id}/edit" %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Download as <%= link_to 'CSV', controller: "requests", action: "index", id: @giveaway.id, format: "csv" %></p>
<%= link_to 'Back', giveaways_path %>
