<%= form_for(@giveaway) do |f| %>
  <% if @giveaway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@giveaway.errors.count, "error") %> prohibited this giveaway from being saved:</h2>

      <ul>
      <% @giveaway.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <h3>Select Logos</h3>
  <div class="field">
    <%= f.label :logo1_id, "Logo #1" %>
    <%= f.select :logo1_id, @logos.collect {|logo| [ logo.name, logo.id ] }, { include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label :logo2_id, "Logo #2" %>
    <%= f.select :logo2_id, @logos.collect {|logo| [ logo.name, logo.id ] }, { include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label :logo3_id, "Logo #3" %>
    <%= f.select :logo3_id, @logos.collect {|logo| [ logo.name, logo.id ] }, { include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label :logo4_id, "Logo #4" %>
    <%= f.select :logo4_id, @logos.collect {|logo| [ logo.name, logo.id ] }, { include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label :logo5_id, "Logo #5" %>
    <%= f.select :logo5_id, @logos.collect {|logo| [ logo.name, logo.id ] }, { include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label :logo6_id, "Logo #6" %>
    <%= f.select :logo6_id, @logos.collect {|logo| [ logo.name, logo.id ] }, { include_blank: true } %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <%= f.label :description2, "Secondary/trees description (optional)" %><br>
    <%= f.cktext_area :description2 %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :time, "Start time" %><br>
    <%= f.datetime_select :time, start_hour: 6, end_hour: 22, ampm: true, minute_step: 15 %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time, start_hour: 6, end_hour: 22, ampm: true, minute_step: 15 %>
  </div>
  <div class="field">
    <%= f.label :close_time, "Registration close time" %><br>
    <%= f.datetime_select :close_time, start_hour: 6, end_hour: 22, ampm: true, minute_step: 15 %>
  </div>
  <div style="text-decoration:underline;">Trees available</div>
  <div class="field">
    <% @trees.each do |tree| %>
      <% input_id = "giveaway_trees_" + tree.id.to_s %>
      <% matching_tree = @giveaway.trees.include? tree %>
      <%= check_box_tag("giveaway[trees][]", tree.id, checked = matching_tree) %>
      <%= label_tag(input_id, tree.name) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :max_trees, "Maximum number of trees per request" %><br>
    <%= f.number_field :max_trees, size: 1, in:1..2 %>
  </div>  
  <div class="field">
    <%= f.label :tree_limit, "Maximum number of trees that can be reserved in total (leave blank for no limit)" %><br>
    <%= f.number_field :tree_limit %>
  </div>
  <div class="field">
    <%= f.label :confirmation_text %><br>
    <%= f.cktext_area :confirmation_text %>
  </div>
  <div class="field">
    <%= f.label :referral_question %><br>
    <%= f.text_field :referral_question %>
  </div>
  <div class="field">
    <%= f.label :referral, "Options for referrals (one per line; last should be 'Other')" %><br>
    <%= f.text_area :referral, cols: 60, rows: 12 %>
  </div>
  <div class="field">
    <%= f.label :no_referral, "Don't show referrals?" %><br>
    <%= f.check_box :no_referral %>
  </div>
  <div class="field">
    <%= f.label :no_philly_validation, "Don't validate requesters are in Philadelphia?" %><br>
    <%= f.check_box :no_philly_validation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
