<h3 id="notice"><%= notice %></h3>

<h1>Listing Giveaways</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Time</th>
      <th>Trees Available</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @giveaways.each do |giveaway| %>
      <tr>
        <td><%= giveaway.name %></td>
        <td><%= giveaway.description.html_safe %></td>
        <td><%= giveaway.location %></td>
        <td><%= giveaway.time %></td>
	<td><%= giveaway.trees.map { |tree| tree.name } %></td>
        <td><%= link_to 'Show', giveaway %></td>
        <td><%= link_to 'Edit', edit_giveaway_path(giveaway) %></td>
        <td><%= link_to 'Destroy', giveaway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Duplicate', duplicate_giveaway_path(giveaway) %></td>
	<td><%= link_to 'Show Requests', controller: "requests", action: "index", id: giveaway %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Giveaway', new_giveaway_path %>
<br>
<%= link_to 'Admin Homepage', su_home_path %>
