<% content_for :title, @giveaway.name %>
<p id="notice"><%= notice %></p>

<table class="container" width="770" border="0" cellpadding="5" cellspacing="5">
<tr><td width="770" valign="top">
<div id="logos">
<%= link_to image_tag("main-logo.png"), "http://treephilly.org/", :target => "_blank" %>
<%= link_to image_tag("parks-rec-logo.png"), "http://www.phila.gov/parksandrecreation/Pages/default.aspx", :target => "_blank" %>
<%= link_to image_tag("fpclogo.jpg"), "http://myphillypark.org/", :target => "_blank" %>
<%= link_to image_tag("top-wf-logo.jpg"), "https://www.wellsfargo.com/", :target => "_blank" %>
</div>
<h2 align="center"><%= @giveaway.name %></h2>
<h3 align="center"><%= @giveaway.time.strftime("%A, %B %d, %Y, %-I:%M %P") %>
 - <%= @giveaway.end_time.strftime("%-I:%M %P") %></h3>
<h3 align="center"><%= @giveaway.location %></h3>
<h4 align="center">Registration will close on <%= @giveaway.close_time.strftime("%A, %B %d, %Y") %></h4>
<div class="top-description"><%= @giveaway.description.html_safe %></div>
</td></tr>

<tr><td colspan="1" width="770">

<% if @giveaway.over? %>
<h2 align="center">This event has already taken place.</h2>
<% elsif @giveaway.closed? %>
<h2 align="center">Registration is closed for this event.</h2>
<% elsif @giveaway.out_of_stock? %>
<h2 align="center">All available trees have been reserved.</h2>
<% elsif @giveaway.full? %>
<h2 align="center">This event has reached its capacity.</h2>
<% else %>

<%= simple_form_for(@request,validate: true,  html: { onsubmit: "return onClickValidate(this);" } ) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :giveaway_id, as: :hidden, input_html: { value: @giveaway.id } %>
  <%= f.input :session_id, as: :hidden, input_html: { value: session.id } %>
  
<p>
  <strong style="text-decoration:underline;">Please enter your contact information:</strong>
</p>
  <table class="contact-info striped">
    <tbody id="contact">
    <tr>
      <td width="200"><%= f.label :first_name %></td>
      <td><%= f.input :first_name, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.input :last_name, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.input :email, as: :email, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :phone_number %></td>
      <td><%= f.input :phone_number, as: :tel, label: false %></td>
    </tr>
    <tr><td><br></td><td></td></tr>
    </tbody>
    <tbody id="mailing-address">
    <tr>
      <td><strong>Mailing Address</strong></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_street1, label: "Address" %></td>
      <td><%= f.input :mailing_street1, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_street2, label: "Address (line 2)" %></td>
      <td><%= f.input :mailing_street2, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_city, label: "City" %></td>
      <td><%= f.input :mailing_city, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_state, label: "State" %></td>
      <td><%= f.input :mailing_state, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_zip, label: "Zip code" %></td>
      <td><%= f.input :mailing_zip, label: false %></td>
    </tr>
    <tr>
      <td colspan=2>
	<div id="diff-addy">
	<%= f.label :different_address, label: "* Are you planting somewhere other than your mailing address?" %>
	<br>
	<%= f.input :different_address, as: :radio_buttons, label: false %></td>
        </div>
    </tr>
 
    <tr class="separator" colspan="2"></tr>
    </tbody>
    <tbody id="plantingAddress" class="hidden">
    <tr>
      <td><strong>Planting Address</strong></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :planting_street1, label: "Address" %></td>
      <td><%= f.input :planting_street1, label: false, validate: false %></td>
    </tr>
    <tr>
      <td><%= f.label :planting_street2, label: "Address (line 2)" %></td>
      <td><%= f.input :planting_street2, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :planting_city, label: "City" %></td>
      <td><%= f.input :planting_city, label: false, validate: false %></td>
    </tr>
    <tr>
      <td><%= f.label :planting_state, label: "State" %></td>
      <td><%= f.input :planting_state, label: false, validate: false %></td>
    </tr>
    <tr>
      <td><%= f.label :planting_zip, label: "Zip code" %></td>
      <td><%= f.input :planting_zip, label: false, validate: false %></td>
    </tr>
    </tbody>
  </table>
<br>
<hr>
<p>
  <strong style="text-decoration:underline;">Select your tree(s):</strong>
  <%= @giveaway.description2.html_safe %>

  <% @giveaway.trees.each do |tree| %>
  <div class="tree-info">
    <strong><%= tree.name %></strong>  
  <table class="tree-img-desc"><tr>
  <td><%= image_tag tree.image.url(:medium) if tree.image_file_name %></td>
  <td>
  <div id="add-tree">
    <% input_id = "request[tree][#{tree.id.to_s}]" %>
    <% if tree.stock > 0 %>
      Qty: <%= select_tag(input_id, options_for_select(0..@giveaway.max_trees), class:"tree-count") %> 
      <div> <%= tree.stock %> Remaining </div>
    <% else %>
      Qty: <%= select_tag(input_id, options_for_select(0..@giveaway.max_trees), disabled: true) %>
      <div class="out-of-stock"> OUT OF STOCK </div>
    <% end %>
  </div>
<%= tree.description.html_safe %></td>
  </tr></table>
  </div>
  <% end %>
<hr>
  <div class="referral-area">
  <%= f.label :referral, label: "How did you hear about the TreePhilly Yard Tree Giveaways?" %><br>
  <% referral_options = ["Newspaper", "Flyer", "Email", "Social media (Facebook, Twitter, Instagram)", "Online search", "Blog post", "TreePhilly website", "Word of mouth", "I am a return participant", "Other"] %>
  <%= f.input :referral, label: false, collection: referral_options, wrapper_html: { id: 'referral-div' } %>
  <br>
  <%= f.button :submit, "Request your tree" %>
  </div>
<% end %>
<% end %>
</td></tr></table>


<script>

function onClickValidate(f){
  return validateTrees(f) && validatePhila() && validateEmail() && validateDiffAddy();
}

function validateDiffAddy(){
  if ($( '#request_different_address_false' ).is(':checked') || $( '#request_different_address_false' ).is(':checked') ) {
    return true;
  } else {
    $( '#diff-addy' ).css('background-color', 'red');
    $( '#diff-addy' ).append("<div id='diff-addy-error'>can't be blank</div>");
    return false;
  }
}

function validateEmail(){
  if (/@/.test($( '#request_email' ).val())) {
    return true;
  } else {
    alert("Please enter a valid email address.");
    return false;
  }
}

function validatePhila(){
  var phila = /^phila/i;
  if ($("input[name='request\\[different_address\\]']:checked").val() === 'true') {
    if (phila.test($( '#request_planting_city').val())) {
      return true;
    } else {
      alert("Planting address must be in Philadelphia.");
      return false;
    }
  } else {
    if (phila.test($( '#request_mailing_city').val())) {
      return true;
    } else {
      alert("The tree(s) must be planted in Philadelphia. Please enter a planting address if planting in Philadelphia.");
      return false;
    }
  }
}

function validateTrees(f){

var treeFields = f.getElementsByClassName("tree-count");
var numTrees = 0;
for(var i = 0;i< treeFields.length;i++){
 numTrees += parseInt(treeFields[i].value, 10);
}
if(numTrees === 0) {
 alert("Please select a tree.");
 return false;
} else if (numTrees > <%= @giveaway.max_trees %>) {
 alert("You may only request a total of two trees.");
 return false;
} else { return true; }
}

$("input[name='request\\[different_address\\]']").change(function() {
    if ($( '#diff-addy-error' ).length) {
      $( '#diff-addy' ).css('background-color', 'white');
      $( '#diff-addy-error' ).remove();
    }
    
    if ($("input[name='request\\[different_address\\]']:checked").val() === 'true') {
      $( '#plantingAddress' ).removeClass('hidden');
    } else {
      $( '#plantingAddress' ).addClass('hidden');
    }
});

$('#request_referral').change(function() {
  if( $('#request_referral').val() === 'Other' ) {
    $('#referral-div').append(" <input type='text' id='request_referral_other' name='request[referral]'>");
    $('#request_referral').attr('name', 'ignored_referral');
  } else {
    $('#request_referral_other').remove();
    $('#request_referral').attr('name', 'request[referral]');
  }
});
</script>
