<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @giveaway.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @giveaway.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @giveaway.location %>
</p>

<%= form_for(@request, validate: true, html: { onsubmit: "return validateRadio(this);" } ) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <strong>Trees Available:</strong>
  <br>
  <% @giveaway.trees.each do |tree| %>
  <% input_id = "request_tree_" + tree.id.to_s %>

  <% if tree.stock > 0 %>
    <%= radio_button_tag("request[tree]", tree.id) %>
    <%= label_tag(input_id, tree.name) %>
    <div> <%= tree.stock %> Remaining </div>
  <% else %>
    <%= radio_button_tag("request[tree]", tree.id, false, :disabled => true) %>
    <%= label_tag(input_id, tree.name) %>
    <div class="out-of-stock"> OUT OF STOCK </div>
  <% end %>

  <p><%= tree.description %></p>
  <br>
  <% end %>
</p>
  <%= f.hidden_field :giveaway_id, :value => @giveaway.id %>
  <%= f.hidden_field :session_id, :value => session.id %>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
function validateRadio(f){

var radioButtons = f.elements['request[tree]'];
var selected = false;
for(var i = 0;i< radioButtons.length;i++){
 if(radioButtons[i].checked) {
    selected = true;
  }
 }
if(!selected)
 alert("Please select a tree");
return selected ;
}
</script>

<%= link_to 'Edit', edit_giveaway_path(@giveaway) %> |
<%= link_to 'Back', giveaways_path %>
