<p id="notice"><%= notice %></p>

<table class="container" width="770" border="0" cellpadding="5" cellspacing="5">
<tr><td width="770" valign="top">
<h2 align="center"><%= @giveaway.name %></h2>
<h3 align="center">The giveaway starts at: <%= @giveaway.time.strftime("%A, %B %d, %Y, %I:%M %P") %></h3>
<h3 align="center"><%= @giveaway.location %></h3>
<p><%= @giveaway.description %></p>
</td></tr>

<tr><td colspan="1" width="770">
<%= simple_form_for(@request,validate: true,  html: { onsubmit: "return validateRadio(this);" } ) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :giveaway_id, as: :hidden, input_html: { value: @giveaway.id } %>
  <%= f.input :session_id, as: :hidden, input_html: { value: session.id } %>
  
  <table class="contact-info striped" width="700">
    <tbody id="contact">
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.input :first_name, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.input :last_name, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.input :email, as: :email, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :phone_number %></td>
      <td><%= f.input :phone_number, as: :tel, label: false %></td>
    </tr>
    <tr><td><br></td><td></td></tr>
    </tbody>
    <tbody id="mailing-address">
    <tr>
      <td><strong>Mailing Address</strong></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_street1, label: "Address" %></td>
      <td><%= f.input :mailing_street1, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_street2, label: "Address (line 2)" %></td>
      <td><%= f.input :mailing_street2, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_city, label: "City" %></td>
      <td><%= f.input :mailing_city, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_state, label: "State" %></td>
      <td><%= f.input :mailing_state, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :mailing_zip, label: "Zip code" %></td>
      <td><%= f.input :mailing_zip, label: false %></td>
    </tr>
    <tr>
      <td colspan=2><%= f.input :different_address,
			label: " Check this box if you are planting somewhere other than your mailing address",
			input_html: { onclick: "$( '#plantingAddress' ).toggleClass('hidden');" } %></td>
    </tr>
    <tr><td><br></td><td></td></tr>
    </tbody>
    <tbody id="plantingAddress" class="hidden">
    <tr>
      <td><strong>Planting Address</strong></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :planting_street1, label: "Address" %></td>
      <td><%= f.input :planting_street1, label: false, validate: false %></td>
    </tr>
    <tr>
      <td><%= f.label :planting_street2, label: "Address (line 2)" %></td>
      <td><%= f.input :planting_street2, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :planting_city, label: "City" %></td>
      <td><%= f.input :planting_city, label: false, validate: false %></td>
    </tr>
    <tr>
      <td><%= f.label :planting_state, label: "State" %></td>
      <td><%= f.input :planting_state, label: false, validate: false %></td>
    </tr>
    <tr>
      <td><%= f.label :planting_zip, label: "Zip code" %></td>
      <td><%= f.input :planting_zip, label: false, validate: false %></td>
    </tr>
    </tbody>
  </table>
<p>
  <strong style="text-decoration:underline;">Select a tree:</strong>
  <br>
  <% @giveaway.trees.each do |tree| %>
  <% input_id = "request_tree_" + tree.id.to_s %>

  <% if tree.stock > 0 %>
    <%= radio_button_tag("request[tree]", tree.id) %>
    <strong><%= label_tag(input_id, tree.name) %></strong>
    <div> <%= tree.stock %> Remaining </div>
  <% else %>
    <%= radio_button_tag("request[tree]", tree.id, false, :disabled => true) %>
    <%= label_tag(input_id, tree.name) %>
    <div class="out-of-stock"> OUT OF STOCK </div>
  <% end %>

  <p><%= tree.description %></p>
  <br>
  <% end %>
</p>
  <%= f.label :referral, label: "How did you hear about this tree giveaway?" %><br>
  <%= f.input :referral, label: false, input_html: { style: "width: 500px" } %>
  <br>
  <%= f.button :submit, "Request your tree" %>
<% end %>
</td></tr></table>


<script>
function validateRadio(f){

var radioButtons = f.elements['request[tree]'];
var selected = false;
for(var i = 0;i< radioButtons.length;i++){
 if(radioButtons[i].checked) {
    selected = true;
  }
 }
if(!selected)
 alert("Please select a tree");
return selected ;
}
</script>

